
<%- contentFor('hero') %>
<section class="hero">
  <div class="hero-content">
    <h2>All About Us</h2>
    <p>We're a small team.</p>

    <a href="/contact" class="btn btn-lg btn-primary"><i class="fa fa-phone"></i> Drop me a line</a>
  </div>
</section>

<%- contentFor('body') %>
<div class="jumbotron text-center">
  <h1>About Me</h1>
  <p><i>I love to code!</i></p>
  <p>Coder.  &#9749; Integrator. Tinkerer. Application & mobile programmer. Full stack web developer. Father. Husband. Washed up, 'has been' soccer  &#9917; star wannabe, now 'soccer dad'. Aspiring tech comedian and sci-fi writer.  &#9888; Volunteer Coding Facilitator & Trainer. <strong>PMP</strong> & <strong>ITIL</strong> certified IT project coordinator.  Business analyst.  DBA. Technophile. Cybernaut. Dabbler. DIY journeyman around the home. Road trip aficionado.  And forever, ... coder! I love  &#9825;  &#9829; to write code.  Hell for me is a maxed out dev laptop with all the tools but the keyboard doesn't work.  &#9785; (Has happened before). My <strong>GitHub</strong> handle is <a href="https://github.com/systemsvanguard" target="_blank">SystemsVanguard</a>. </p>
</div>


