
<%- contentFor('hero') %>
<section class="hero">
  <div class="hero-content">
    <h2>Welcome to my Site!</h2>
    <p>The best place to be</p>

    <a href="/"         class="btn btn-lg btn-primary"><i class="fa fa-home"></i> Get Started</a>
	<a href="/services" class="btn btn-lg btn-primary"><i class="fa fa-hands-helping"></i> Services</a>
	<a href="/about"    class="btn btn-lg btn-primary"><i class="fa fa-info-circle"></i> About Me</a>
    <a href="/contact"  class="btn btn-lg btn-primary"><i class="fa fa-phone"></i> Contact</a>
  </div>
</section>

<%- contentFor('body') %>
<div class="jumbotron text-center">
  <h2>Home Page</h2>
  <p>We do <b>full stack web development</b>, with our backend code written using the MEAN stack.  We build sites using Node.js, Express.js, MongoDB, PostgreSQL, JavaScript, Angular 4, CSS, Bootstrap, FontAwesome, Google Fonts, and HTML5.</p>
</div>
