<div class="jumbotron text-center">
  <h1>Services</h1>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2>Our Services</h2>
      <p>We are a full suite, bespoke web development firm.  We help you to make the best of Internet and the connected web.</p>
	  <p>Let us help you today put your best brand online!</p>
	  <p>We do <b>full stack web development</b>, with our backend code written in C#, Java, Python, PHP web development.  We build custom sites using C#, ASP.NET MVC, Entity framework, & MS SQL Server.  Python, Django, Flask, & PostgreSQL. PHP, MySQL, Laravel, & CodeIgniter. Java & SpringBoot.</p>  

    </div>
  </div>
</div>