<div class="container-fluid">
  <h2 class="text-center">Tours</h2>
  <p class="text-center">Below are a small sample of the many varied and delightful tours we can organize for you.</p>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm bg-success">
	   <h3 class="text-center">Mayfield Falls</h3>
	   <img src="http://ryanhunter.ca/images/portfolio/jamrock_mayfieldfalls.jpg" class=" img-fluid rounded mx-auto d-block" alt="Mayfield Falls">
	   <p class="text-justify">The Mayfield Falls are a series of waterfalls situated on the Mayfield River in the parish of Westmoreland in Jamaica. The falls feature 21 cascades in total. The tallest, nicknamed the ‘Washing Machine’ and reaching around three meters in height, is large enough for visitors to get behind and play in the jets of water.</p>
	  </div>
      <div class="col-sm bg-warning">
	   <h3 class="text-center">Konoko Falls and Park</h3>
	   <img src="http://ryanhunter.ca/images/portfolio/jamrock_konokofalls.jpg" class="rounded mx-auto d-block img-fluid" alt="Konoko Falls and Park">
	   <p class="text-justify">Jamaica’s tropical trees and flowers surround a colonial-style home at the Coyaba River Garden and Museum, backed by stupendous views of the Ocho Rios harbor. Water is one of the main features of the gardens, with tumbling streams and the Mahoe Falls.</p>
	  </div>
    </div>  
    
    <div class="row">
      <div class="col-sm bg-warning">
	   <h3 class="text-center">Negril Cliffs</h3>
	   <img src="http://ryanhunter.ca/images/portfolio/jamrock_negrilcliffs.jpg" class="rounded mx-auto d-block img-fluid" alt="Negril Cliffs">
	   <p class="text-justify">Even by themselves, the black hued cliffs outside of Negril are natural sites to behold. Rising 40 feet above turquoise waters and pockmarked by sea caves and coves, the cliffs form a defining natural icon for Jamaica’s far western coast. It isn’t just their beauty, however, that draws visitors here in droves.</p>
	  </div>
      <div class="col-sm bg-success">
	   <h3 class="text-center">Ahhh…Ras Natango Gallery and Garden</h3>
	   <img src="http://ryanhunter.ca/images/portfolio/jamrock_natango.jpg" class="rounded mx-auto d-block img-fluid" alt="Ras Natango Gallery and Garden">
	   <p class="text-justify">This unique destination in the heart of Jamaica was once an empty stretch of land that a wealthy accountant and art collector purchased only to preserve its stunning view. In 2009, Ahhh…Ras Natango Gallery and Garden, a unique collection of this businessman’s paintings and other art works</p>
	  </div>
    </div> 
    
    <div class="row">
      <div class="col-sm bg-success">
	   <h3 class="text-center">Fern Gully</h3>
	   <img src="http://ryanhunter.ca/images/portfolio/jamrock_ferngully.jpg" class="rounded mx-auto d-block img-fluid" alt="Fern Gully">
	   <p class="text-justify">Take a step back into the wilds of Jamaica with a drive through the incredibly lush and tropical Fern Gully. A towering tunnel of ferns and tropical overgrowth, this rainforest is so full and green that it has become one of the most noteworthy attractions in all of Jamaica.</p>
	  </div>
      <div class="col-sm bg-warning">
	   <h3 class="text-center">Doctor's Cave Beach</h3>
	   <img src="http://ryanhunter.ca/images/portfolio/jamrock_doctorscave.jpg" class="rounded mx-auto d-block img-fluid" alt="Doctor's Cave Beach">
	   <p class="text-justify">Occupying a spot of Montego Bay’s “hip strip,” Doctor’s Cave Beach is the best-known beach in Jamaica. It's a top party destination with plenty of sand-and-sea-centric activities available at good rates. Its white sand descends into the turquoise of the Caribbean, as beachgoers soak up sun in a tropical paradise.</p>
	  </div>
    </div> 
    
    <div class="row">
      <div class="col-sm bg-warning">
	   <h3 class="text-center">Devon House</h3>
	   <img src="http://ryanhunter.ca/images/portfolio/jamrock_devonhouse.jpg" class="rounded mx-auto d-block img-fluid" alt="Devon House">
	   <p class="text-justify">In the capital of Kingston, the 19th-century Georgian-styled Devon House mansion is not only unique on the island, but also throughout the Caribbean, as it was the home of George Stiebel, Jamaica’s first black millionaire, offering a rare glimpse of West Indian high society.</p>
	  </div>
      <div class="col-sm bg-success">
	   <h3 class="text-center">Columbus Park Museum</h3>
	   <img src="http://ryanhunter.ca/images/portfolio/jamrock_columbuspark.jpg" class="rounded mx-auto d-block img-fluid" alt="Columbus Park Museum">
	   <p class="text-justify">Legendary explorer Christopher Columbus first trod upon Jamaican soil at Discovery Bay, when he landed here in 1494. Columbus Park commemorates that momentous day in history.</p>
	  </div>
    </div> 
	
    <div class="row">
      <div class="col-sm bg-success">
	   <h3 class="text-center">Dunn's River Falls</h3>
	   <img src="http://ryanhunter.ca/images/portfolio/jamrock_dunnsriver.jpg" class="rounded mx-auto d-block img-fluid" alt="Dunn's River Falls">
	   <p class="text-justify">Dunn's River Falls is a spectacular waterfall near Ocho Rios, where cold mountain water cascades 1,000 feet (300 meters) down naturally terraced steps. Visitors can climb the falls alone or in a guided "human chain," but there's also plenty of swimming, sunbathing and sightseeing to do as well.</p>
	  </div>
      <div class="col-sm bg-warning">
	   <h3 class="text-center">YS Falls</h3>
	   <img src="http://ryanhunter.ca/images/portfolio/jamrock_ysfalls.jpg" class="rounded mx-auto d-block img-fluid" alt="YS Falls">
	   <p class="text-justify">YS Falls is a stunning ecosystem located on the lush, south coast of Jamaica. Often overshadowed by its Jamaica waterfall rival, Dunn’s River Falls, YS is worth a visit simply for its more secluded location, 50 miles southwest of Montego Bay and 50 miles east of Negril.</p>
	  </div>
    </div> 
    
  </div>
  <br>
  <p class="text-center font-italic font-weight-bold">Please note this is a demo site only, and content is ripped from <a href="https://www.viator.com/Jamaica/d34">Viator.com's</a> Jamaica page.  Please see them for real Jamaica tours.
  </p>
  

</div>